<h3> Edit </h3>
<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
<ul><% @product.errors.full_messages.each do |m| %>
<li><%= m %></li>
<% end %></ul>
<% end %>

<table>
   <tr><td><%= f.label 'Title:' %></td>
       <td><%= f.text_field :title %></td>

   <tr><td><%= f.label 'Description:' %></td>
	  <td><%= f.text_area :description,:rows=>10 %></td></tr>
   
   <tr><td><%= f.label 'Price:' %></td>
       <td><%= f.text_field :price %></td></tr>

   <tr><td><%= f.submit 'Save' %></td></tr>
</table>
<% end %>
<%= link_to 'Back', root_url %>